.header{
    font-family: 'Open Sans', sans-serif;
}

.intro {
    border: 1px solid #bdc3c7;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
}

.map{
    margin: 20px auto;
}

#mapFrame{
    stroke: #bdc3c7;
    stroke-width: 1px;
    fill:	#F8F8F8;
}

#barChartFrame{
    stroke: #bdc3c7;
    stroke-width: 1px;
    fill: 	#F8F8F8
}


