.header{
    font-family: 'Open Sans', sans-serif;
}

.header img {
    float: right;
    width: 250px;
    height: 80px;
  }

.intro {
    border-bottom: 1px solid #bdc3c7;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
}


.map{
    margin: 20px auto;
}

#mapFrame{
    fill:	#F8F8F8;
}



