.header{
    font-family: 'Open Sans', sans-serif;
}

.header img {
    float: right;
    width: 260px;
    height: 80px;
  }

.intro {
    border-bottom: 1px solid #bdc3c7;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
}

#map{
    margin: 20px auto;
}

svg {
    background: white
} 

.neighborhood {
    fill: #E0E0E0;
    stroke: #ffffff;
    stroke-width: 0.5;
}

.selected {
    fill: #C0C0C0;
}

div.tooltip {   
   position: absolute;                      
   width: 210px;                           
   padding: 2px;             
   font: 12px sans-serif;        
   background: white;   
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;         
}

.lowRisk {
    height: 12px;
    width: 12px;
    background-color: #3399FF;
    border-radius: 10%;
    display: inline-block;
  }
.modRisk {
    height: 12px;
    width: 12px;
    background-color: #9D93F3;
    border-radius: 10%;
    display: inline-block;
  }
.highRisk {
    height: 12px;
    width: 12px;
    background-color: #FF6666;
    border-radius: 10%;
    display: inline-block;
  }

